<div class="flat-form">
  <%= simple_form_for(@event, remote: true) do |f| %>
    <div class="form-group">
      <%= f.label :name, "Event name" %>
      <%= f.text_field :name, class:"form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :max_amount, "Max amount to spend for a gift" %>
      <%= f.number_field :max_amount, class:"form-control" %>
    </div>

    <div data-controller="nested-form">
      <template data-target='nested-form.template'>
        <%= f.fields_for :participants, Participant.new, child_index: 'TEMPLATE_RECORD' do |participant| %>
          <%= render 'form/participant_fields', form: participant %>
        <% end %>
      </template>

      <div data-target="nested-form.add_item">
        <%= link_to "+ Add Participant", "#", data: { action: "nested-form#add_association" }, class: 'btn btn-participant' %>
      </div>
    </div>

    <%= f.submit class: "btn btn-confirm"%>
  <% end %>
</div>