<h1>Secret Santa</h1>
<h3>An easy way to organize your secret santa!!!!!!!!!</h3>

<% if alert %>
    <ul class="alert alert-danger align-items-center">
      <% alert.each do |message| %>
          <li><%= "#{message}" %></li>
      <% end %>
    </ul>
<% end %>

<%= render 'form/secret_santa_form' %>

<%
=begin  %>
    <div class="form-abyme">
      <%= f.abyme_for(:participants, button_text: 'add participant',) do |abyme| %>
        <%= abyme.records(order: {created_at: :asc},
              wrapper_html: { class: "persisted-tasks", data: { controller: "tasks-wrapper" } },
              fields_html: { class: "persisted-fields", data: { target: "tasks-wrapper.test" } }
            ) %>
        <%= abyme.new_records(position: :end, 
              wrapper_html: { class: "new-tasks", data: { target: 'wrapper-target', controller: 'tasks-wrapper' } },
              fields_html: {class: "test", data: { target: 'sub-target', controller: 'sub-controller' } }
            ) %>
        <%= add_associated_record(content: '+ Add participant', html: { class: 'btn btn-participant' }) %>
      <% end %>
    </div>


<%
=end  %>
